.nav{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    text-decoration-color: cornflowerblue;
    background-color: azure,
    

}
h1{
    padding-top: 50px;
    padding-left: 50px;
}
h3{
    text-size-adjust: 14px;
}

h4{
    text-size-adjust: 14px;
    position: absolute;
    left: 40%;
    top:10%
}
body{
    background-color: white;
    text-decoration-color: blue;
}
p{
   background-color: white;
   padding-top: 5px;
   padding-left: 55px;
   padding-right: 50px; 
}
footer{
    position: absolute;
    left:1%;
    top:99%
}
.mainpage{
    background-image: url(https://www.rehabmagazine.ca/wp-content/uploads/coronavirus-3992933.jpg) ;
    background-position-y: 160px;
    background-size: cover;
    background-repeat: repeat;
    width: 1500px ;
    height: 1000px;
    
}
.main-text{
    -webkit-text-stroke: 1px black;
   color: black;
   text-shadow:
       3px 3px 1 white,
     -1px -1px 1 white,  
      1px -1px 1 white,
      -1px 1px 1 white,
       
};
footer{
    color: rgb(66, 175, 66);
    width: 100px;
}
.footer-c{
    background-image: url(https://listimg.pinclipart.com/picdir/s/570-5701995_ekg-clipart-wave-ekg-wave-transparent-free-for.png);
    background-repeat: repeat;
    background-size: cover;

}